/*linear-gradient(to bottom, #num1 ,#num2 ); */

body, p, a {
    /*margin: auto;*/
    font-family: 'raleway';
    text-shadow: 1px 1px grey;
}

.header-container {
    width: 100%;
    background: linear-gradient(to bottom, #0296e0, #edf2cd);
}

.logo {
    /*width: 100%;*/
    display: flex;
    justify-content: flex-start;
    font-size: 300%;
    padding: 5%;
}

@media(min-width: 600px) {
  .logo {
      display: flex;
      justify-content: flex-start;
      font-size: 400%;
      padding: 5% 5% 3% 5%;
  }
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-left: 5%;
    padding-bottom: 5%;
    font-size: 150%;
}

@media(min-width: 800px) {
    .navbar {
        display: flex;
        justify-content: flex-start;
        padding-left: 5%;
        padding-bottom: 5%;
        padding-top: 2%;
        font-size: 200%;
    }
}

.navbar, div {
    padding-right: 2%;
}

.main-image-container {
    width: 100%;
    background: black;
}

.main-image {    /* default is iPhone 5 vertical */
    margin: auto;
    width: 320px;
}

@media(min-width: 360px) {  /* galaxy S5 */
    .main-image {
        margin: auto;
        width: 360px;
    }
}

@media(min-width: 375px) {  /* iPhone 6 */
    .main-image {
        margin: auto;
        width: 375px;
    }
}

@media(min-width: 411px) { /* nexus 5x */
    .main-image {
        margin: auto;
        width: 411px;
    }
}

@media(min-width: 414px) { /* iPhone 6+ */
    .main-image {
        margin: auto;
        width: 414px;
    }
}

@media(min-width: 435px) {
    .main-image {
        margin: auto;
        width: 435px;
    }
}

@media(min-width: 768px) {
    .main-image {
        margin: auto;
        width: 769px;
    }
}

@media(min-width: 828px) {
    .main-image {
        margin: auto;
        width: 828px;
    }
}

@media(min-width: 1024px) {
    .main-image {
        margin: auto;
        width: 1024px;
    }
}

@media(min-width: 1168px) {
    .main-image {
        margin: auto;
        width: 1168px;
    }
}

@media(min-width: 1280px) {
    .main-image {
        margin: auto;
        width: 1280px;
    }
}

@media(min-width: 1366px) {
    .main-image {
        margin: auto;
        width: 1366px;
    }
}

@media(min-width: 1440px) {
    .main-image {
        margin: auto;
        width: 1440px;
    }
}

@media(min-width: 1680px) {
    .main-image {
        margin: auto;
        width: 1680px;
    }
}

.about-container {
    width: 100%;
    background: orange;
    margin-top: -1%;
}

.text-title {
  display: flex;
  justify-content: flex-start;
  font-size: 200%;
  padding: 5%;
}

.text-block {
    display: flex;
    justify-content: flex-start;
    font-size: 100%;
    padding: 5%;
}
